:root
{
    --white-txt-color: #ffffff;
    --black-txt-color: #000000;
    --dark-txt-color: #212121;
    --blue-txt-color: #2196f3;
    --gray-txt-color: #757575;
    --whitness-txt-color: rgba(255, 255, 255, 0.6);

    --whitness-bg-color: #F5F4FA;
    --blue-bg-color: #2196f3;
    --darkness-bg-color: #2F303A;
    --white-bg-color: #ffffff;

    --marg-benefits: 30px;
    --item-benefits: 2;

    --marg-job: 30px;
    --item-job: 2;
}


body
{
font-family: "roboto", Arial, Helvetica, sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 1.71;
color: var(--dark-txt-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid black;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
 }


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 0;
   
}
.header-bg
{
    background-color: var(--white-bg-color);
}

.logo-header
{
    
    font-family: 'Raleway';
    color: var(--blue-txt-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    word-spacing: -0.29em;
    padding-left: 15px;
   
    
   
}

.logo-header-part-2
{
    color: var(--black-txt-color); 
   
}

.nav {
    display: flex;
   margin-left: 0;
   }

.page-nav {
    margin-left: 93px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 0;
  
}

 .item {
     margin-right: 50px;
 }


/*очищення правого відступу*/
.page-nav .item:last-child {
    margin-right: 0;
}

/*очищення правого відступу*/
.header-nav .item-tel:last-child {
    margin-right: 0;
}



.button {
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--whitness-bg-color);
    cursor: pointer;
}

.button:hover,
.button:focus
{
background-color: var(--blue-bg-color);
color: var(--white-txt-color);
}

.btn-order
{
position: centr;


  
    background-color: var(--blue-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-weight: 700;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-txt-color);
}

.anchor {
    display: block;
    color: var(--dark-txt-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
   
    
}


.anchor:hover,
.anchor:focus
{
    color: var(--blue-txt-color);
}


.contacts {
    color: var(--gray-txt-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;

}


.contacts:hover,
.contacts:focus 
{
    color: var(--blue-txt-color);
}


.no-points {
    list-style: none;
    display: flex;
    
    
}

.current {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--blue-txt-color);
}

.address-style
{
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-txt-color);
    text-decoration: none;
   
}

.address-style:hover,
.address-style:focus
{
    color: var(--blue-txt-color);
}


.footer-bg
{
background-color:var(--darkness-bg-color)
}

.footer-contacts
{
    
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--whitness-txt-color);
    font-style: normal;
    }

     
.logo-footer
{
font-family: 'Raleway';
color: var(--blue-txt-color);
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
word-spacing: -0.25em;
}

.logo-footer-part-2 
{
       color: var(--white-txt-color);
}

.section {
    
    padding-bottom: 94px;
}

.hero

{
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    padding-bottom: 280px;
    padding-right: 252px;
    padding-left: 252px;
    align-items: center;
   
  
    color: var(--white-txt-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    background-color: var(--darkness-bg-color);
    
}


.our-benefits
{
    margin-top: 115px;
    padding-left: 0;
     
}



.benefits
{
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
   
    margin-bottom: 10px;
    
    
      
}



.description
{
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
   text-transform: none;
   color: var(--gray-txt-color);
    flex-basis: calc((100% - var(--marg-benefits) * var(--item-benefits)) / var(--item-benefits));
    margin-right: 30px;
   
}

.description-last {
    margin-right: 0;
}

.our-team, .about
{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
background-color: var(--white-bg-color);
}

.our-job {
display: flex;
    flex-wrap: wrap;
   
    margin: -15px;
}

 .about-job {
    flex-basis: calc((100% - var(var(--marg-job)) * var(--item-job)) / var(--item-job));
    margin: 15px;
 }


.team
{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;

}

.prof
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--gray-txt-color);
}

.bg-team
{
    background-color: var(--white-bg-color)
}

.our-team {
   
background-color: var(--whitness-bg-color);
   
}

.portfolio-btn
{
    background-color: var(--white-bg-color);
}

.portfolio-bg
{  
    background-color: var(--white-bg-color);
    border: 1px solid #EEEEEE;
}

.projects
{
    font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
       
}

.project-type
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--gray-txt-color);
}

